openapi: 3.1.0
info:
  title: APIContext Reports API
  description: API for the APImetrics platform This document is the 'Reports' slice of the APIContext
    (APImetrics) platform OpenAPI published at https://client.apimetrics.io/openapi.json.
  version: v2026-09-02
  contact:
    name: APIContext Support
    url: https://apicontext.io/
    email: support@apicontext.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://apimetrics.io/tos/
servers:
- url: https://client.apimetrics.io
  description: APIContext (APImetrics) platform API
tags:
- name: Reports
  description: Report (dashboard) definitions grouping API calls
paths:
  /api/2/reports/:
    get:
      tags:
      - Reports
      summary: List-Reports
      description: List reports for the authenticated project.
      operationId: list-reports
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Cursor
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          default: 100
          title: Limit
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Reports
      summary: Create-Report
      description: Create a new report.
      operationId: create-report
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportCreateBody'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/2/reports/{report_id}/:
    get:
      tags:
      - Reports
      summary: Get-Report
      description: Get a single report by id.
      operationId: get-report
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: report_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Report ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Reports
      summary: Update-Report
      description: Partially update a report (only supplied fields change; groups are replaced).
      operationId: update-report
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: report_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Report ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportUpdateBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Reports
      summary: Delete-Report
      description: Delete a report and return its last representation.
      operationId: delete-report
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: report_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Report ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            openid: OpenID Connect identity
            profile: User profile
            email: User email address
          authorizationUrl: https://auth.apimetrics.io/authorize?audience=https://client.apimetrics.io
          tokenUrl: https://auth.apimetrics.io/oauth/token
    ApiKey:
      type: apiKey
      in: header
      name: X-Api-Key
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ReportAccessResponse:
      properties:
        public:
          type: boolean
          title: Public
      type: object
      required:
      - public
      title: ReportAccessResponse
    ReportCreateBody:
      properties:
        meta:
          $ref: '#/components/schemas/_ReportCreateMeta'
        access:
          anyOf:
          - $ref: '#/components/schemas/_ReportAccessBody'
          - type: 'null'
        groups:
          anyOf:
          - items:
              $ref: '#/components/schemas/_ReportGroupBody'
            type: array
          - type: 'null'
          title: Groups
      additionalProperties: false
      type: object
      required:
      - meta
      title: ReportCreateBody
    ReportGroupResponse:
      properties:
        name:
          type: string
          title: Name
        rows:
          items:
            $ref: '#/components/schemas/ReportRowResponse'
          type: array
          title: Rows
          default: []
      type: object
      required:
      - name
      title: ReportGroupResponse
    ReportListMetaResponse:
      properties:
        next_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor
        more:
          type: boolean
          title: More
        project_id:
          type: string
          title: Project Id
      type: object
      required:
      - more
      - project_id
      title: ReportListMetaResponse
    ReportListResponse:
      properties:
        meta:
          $ref: '#/components/schemas/ReportListMetaResponse'
        results:
          items:
            $ref: '#/components/schemas/ReportResponse'
          type: array
          title: Results
      type: object
      required:
      - meta
      - results
      title: ReportListResponse
    ReportMetaResponse:
      properties:
        name:
          type: string
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        tags:
          items:
            type: string
          type: array
          title: Tags
          default: []
        created:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Created
        last_update:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Last Update
        owner:
          type: string
          title: Owner
        project_id:
          type: string
          title: Project Id
        branding:
          type: boolean
          title: Branding
      type: object
      required:
      - name
      - owner
      - project_id
      - branding
      title: ReportMetaResponse
    ReportResponse:
      properties:
        id:
          type: string
          title: Id
        meta:
          $ref: '#/components/schemas/ReportMetaResponse'
        access:
          $ref: '#/components/schemas/ReportAccessResponse'
        groups:
          items:
            $ref: '#/components/schemas/ReportGroupResponse'
          type: array
          title: Groups
          default: []
      type: object
      required:
      - id
      - meta
      - access
      title: ReportResponse
    ReportRowResponse:
      properties:
        call_id:
          type: string
          title: Call Id
        location_id:
          type: string
          title: Location Id
      type: object
      required:
      - call_id
      - location_id
      title: ReportRowResponse
    ReportUpdateBody:
      properties:
        meta:
          anyOf:
          - $ref: '#/components/schemas/_ReportUpdateMeta'
          - type: 'null'
        access:
          anyOf:
          - $ref: '#/components/schemas/_ReportAccessBody'
          - type: 'null'
        groups:
          anyOf:
          - items:
              $ref: '#/components/schemas/_ReportGroupBody'
            type: array
          - type: 'null'
          title: Groups
      additionalProperties: false
      type: object
      title: ReportUpdateBody
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    _ReportAccessBody:
      properties:
        public:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Public
        org:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Org
        moderated:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Moderated
      type: object
      title: _ReportAccessBody
    _ReportCreateMeta:
      properties:
        name:
          type: string
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        tags:
          items:
            type: string
          type: array
          title: Tags
          default: []
        branding:
          type: boolean
          title: Branding
          default: false
      type: object
      required:
      - name
      title: _ReportCreateMeta
    _ReportGroupBody:
      properties:
        name:
          type: string
          title: Name
        rows:
          items:
            $ref: '#/components/schemas/_ReportRowBody'
          type: array
          title: Rows
          default: []
      type: object
      required:
      - name
      title: _ReportGroupBody
    _ReportRowBody:
      properties:
        call_id:
          type: string
          title: Call Id
        location_id:
          type: string
          title: Location Id
      type: object
      required:
      - call_id
      - location_id
      title: _ReportRowBody
    _ReportUpdateMeta:
      properties:
        name:
          type: string
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        tags:
          items:
            type: string
          type: array
          title: Tags
        branding:
          type: boolean
          title: Branding
      type: object
      title: _ReportUpdateMeta
