openapi: 3.1.0
info:
  title: APImetrics
  description: API for the APImetrics platform
  termsOfService: http://apimetrics.io/tos/
  contact:
    name: APIContext Support
    url: https://apicontext.io/
    email: support@apicontext.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: v2026-09-02
servers:
- url: https://client.apimetrics.io
  description: APIContext (APImetrics) platform API
tags:
- name: API Keys
  description: Create, list and delete the API keys bound to a project.
- name: API Monitor Statistics
  description: Aggregate statistics for API Monitors
- name: Account
  description: View and update the caller's own Auth0 account profile.
- name: Account Settings
  description: Per-project configurable settings catalogs (e.g. latency SLA thresholds).
- name: Agents
  description: Shared / community remote agent registry (list + info + admin-only by-key operations).
- name: Browser Monitor Statistics
  description: Aggregate statistics for Browser Monitors
- name: Browser Monitors
  description: '

    Manage Browser Monitors.


    Browser Monitors load a target URL in a real browser (Chromium, Firefox, or WebKit) and

    measure its availability and performance. Use them to monitor pages that require JavaScript

    rendering or full browser behaviour, complementing the HTTP-level checks provided by

    standard Monitors.

    '
- name: Calls
  description: API call (test) definitions
- name: Conditions
  description: Project-default post-test conditions.
- name: Crypto Utilities
  description: Utility endpoints for decoding/signing JWTs, HMAC digests and RSA signatures.
- name: Environment
  description: Manage per-project environment workspaces and variables.
- name: Export
  description: Export and re-tag a project's configuration.
- name: Files
  description: Manage OpenAPI specifications and files which can be used as API request bodies.
- name: Hooks
  description: 'Manage inbound hooks: workflow triggers that run when their public URL receives a request.'
- name: Import
  description: Import a project's configuration from an export bundle.
- name: Insights
  description: Pre-computed API insights reports, rankings and outlier detail.
- name: Invites
  description: Manage and accept invites to join the platform.
- name: MCP Monitor Statistics
  description: Aggregate statistics for MCP Monitors
- name: MCP Monitors
  description: '

    Manage MCP Monitors.


    MCP Monitors test MCP servers by running a configurable sequence of steps (e.g. listing tools, calling
    a tool) against a

    target HTTP(S) URL.

    '
- name: Manage
  description: Copy or move resources (calls, workflows, auths, reports) between projects.
- name: Monitors
  description: '

    List, read, and trigger monitors.


    This resource provides a unified view across all monitor types (API, Browser, MCP, etc.)

    for a project. Use the type-specific endpoints to create or update monitors.

    '
- name: Notifications
  description: Issue notifications raised about monitors, results, and workflows.
- name: OpenAPI
  description: OpenAPI validation
- name: Organization Roles
  description: Manage role-based access grants across an organization's projects.
- name: Organizations
  description: Manage organizations and their members.
- name: Project Access
  description: Manage direct account access grants on projects.
- name: Project Roles
  description: Manage role-based access grants on projects.
- name: Project SLOs
  description: Service level objectives for the current project.
- name: Project Setup
  description: The setup of the current project — the project selected by the Apimetrics-Project-Id header
    (or bound to the API key).
- name: Project Subscriptions
  description: Per-account per-project email digest subscriptions (daily / weekly / monthly).
- name: Project Synopsis
  description: Pre-aggregated pass/fail, timing and insight synopsis for the current project.
- name: Projects
  description: Manage projects within an organization.
- name: Projects
  description: Manage a project.
- name: Reports
  description: Report (dashboard) definitions grouping API calls
- name: Schedules
  description: '

    Manage schedules for a project.


    A schedule runs one or more monitors at a fixed frequency from a chosen set of

    regions, clouds and agent locations. Targets (monitors) can be set in bulk via

    the schedule body, or added and removed individually via the

    `add-call-to-schedule` and `remove-call-from-schedule` operations.

    '
- name: Schedules
  description: Manage schedules and their scheduled downtimes.
- name: Session
  description: Session endpoints preserved from the legacy API.
- name: Stats
  description: Per-call performance and pass/fail statistics
- name: Users (admin)
  description: User management
- name: Webhooks
  description: '

    Manage project-wide and call-specific alerts and webhooks.


    A webhook is an alert or action that occurs on the completion of a monitor check.

    Webhooks can be configured for all monitors in a project, or for a specific monitor.

    A webhook can be further limited to specific check outcomes - any or all of PASS,

    FAIL, WARNING or SLOW, and further controlled by adding tags to match against the

    completing monitor.

    '
- name: Webhooks
  description: Manage project-level webhooks that fire on monitor results.
- name: Workflows
  description: Manage workflows.
- name: Auth Settings
  description: Authentication / service configuration
- name: Results
  description: Raw test execution results
- name: Audits
  description: Audit log
paths:
  /api/3/project/analytics/calls-monthly:
    get:
      tags:
      - Analytics
      summary: Project-Calls-Monthly
      operationId: project-calls-monthly
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          title: Start Date
      - name: accept
        in: header
        required: false
        schema:
          type: string
          title: Accept
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCallsMonthly'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/organizations/{org_id}/analytics/slow-calls-daily:
    get:
      tags:
      - Analytics
      summary: Org-Slow-Calls-Daily-Csv
      operationId: org-slow-calls-daily-csv
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          title: Org Id
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          title: Start Date
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          title: End Date
      - name: thresholds
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          minItems: 2
          examples:
          - - 700
            - 800
            - 900
            - 1000
            - 2000
          title: Thresholds
      - name: accept
        in: header
        required: false
        schema:
          type: string
          title: Accept
      responses:
        '200':
          description: Download a CSV file with the slow calls data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgSlowCallsDaily'
            text/csv:
              example: 'day,project_id,pass_count,slow700_count,slow800_count,slow1000_count,slow2000_count,slow9000_count,warn_count,fail_count,total

                2024-07-02,Test New,263,0,0,0,0,0,0,0,263

                2024-07-02,API Drift White Paper II,186,0,8,63,1,0,0,0,258

                2024-07-02,APImetrics APIs,708,1,0,0,0,0,0,0,709

                '
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/organizations/{org_id}/analytics/slow-calls-monthly:
    get:
      tags:
      - Analytics
      summary: Org-Slow-Calls-Monthly
      operationId: org-slow-calls-monthly
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          title: Org Id
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          title: Start Date
      - name: thresholds
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          minItems: 2
          examples:
          - - 700
            - 800
            - 900
            - 1000
            - 2000
          title: Thresholds
      - name: accept
        in: header
        required: false
        schema:
          type: string
          title: Accept
      responses:
        '200':
          description: Download a CSV file with the slow calls data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgSlowCallsMonthly'
            text/csv:
              example: 'month,project_id,pass_count,slow700_count,slow800_count,slow1000_count,slow2000_count,slow9000_count,warn_count,fail_count,total

                2024-07-01,Test New,4955,0,0,0,0,0,0,0,4955

                2024-07-01,API Drift White Paper II,3301,1,239,941,4,0,7,436,4929

                2024-07-01,APImetrics APIs,4739,9,2,2,1,0,0,0,4753

                '
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/api/{monitor_id}/stats/performance:
    post:
      tags:
      - API Monitor Statistics
      summary: Aggregate performance metrics for an API monitor over a window
      description: 'Aggregate performance metrics for an API monitor over a window.


        Returns the requested measures (e.g. mean, p50, p90) per metric, optionally

        grouped by location and/or time bucket.'
      operationId: query-api-monitor-performance
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: monitor_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Monitor ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api3__monitors__common__api_models__PerformanceRequest_Metric___1'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api3__monitors__common__api_models__PerformanceResponse_Metric___1'
        '400':
          description: Invalid request parameters (e.g. `to` before `from`)
        '403':
          description: Monitor not owned by this project
        '404':
          description: Monitor not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/api/{monitor_id}/stats/dns-diagnostics:
    post:
      tags:
      - API Monitor Statistics
      summary: DNS diagnostics for an API monitor over a window
      description: 'Aggregate DNS diagnostics for an API monitor over a window.


        Returns a breakdown of observed DNS providers, resolved IPs, CNAME chains,

        NS servers, and mean lookup time, optionally grouped by location and/or

        time bucket.'
      operationId: query-api-monitor-dns-diagnostics
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: monitor_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Monitor ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsDiagnosticsResponse'
        '400':
          description: Invalid request parameters (e.g. `to` before `from`)
        '403':
          description: Monitor not owned by this project
        '404':
          description: Monitor not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/api/stats/performance:
    post:
      tags:
      - API Monitor Statistics
      summary: Aggregate performance metrics across all API monitors in the project
      description: 'Aggregate performance metrics across all API monitors in the project.


        Pair with `group_by=monitor` to get one PerformanceGroup per monitor; with

        `group_by=monitor,interval` for per-monitor time-series. Without a `monitor`

        grouping, results are a single project-wide aggregate.'
      operationId: query-api-performance
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api3__monitors__common__api_models__PerformanceRequest_Metric___1'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api3__monitors__common__api_models__PerformanceResponse_Metric___1'
        '400':
          description: Invalid request parameters (e.g. `to` before `from`)
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/api/stats/dns-diagnostics:
    post:
      tags:
      - API Monitor Statistics
      summary: DNS diagnostics across all API monitors in the project
      description: 'Aggregate DNS diagnostics across all API monitors in the project.


        Returns a breakdown of observed DNS providers, resolved IPs, CNAME chains,

        NS servers, and mean lookup time, optionally grouped by location and/or

        time bucket.'
      operationId: query-api-dns-diagnostics
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsDiagnosticsResponse'
        '400':
          description: Invalid request parameters (e.g. `to` before `from`)
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/baseline/dailies/{date}:
    get:
      tags:
      - Baseline
      summary: Baseline-Dailies
      operationId: baseline-dailies
      parameters:
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date
          title: Date
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Baseline-Dailies
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/baseline/hourlies:
    get:
      tags:
      - Baseline
      summary: Baseline-Hourlies
      operationId: baseline-hourlies
      parameters:
      - name: start
        in: query
        required: true
        schema:
          type: string
          format: date-time
          title: Start
      - name: end
        in: query
        required: true
        schema:
          type: string
          format: date-time
          title: End
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Baseline-Hourlies
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/organizations/{org_id}/billing/usage-counts:
    get:
      tags:
      - Billing
      summary: Org-Billing-Usage-Counts
      operationId: org-billing-usage-counts
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9]{3,400}$
          title: Organization ID
      - name: months
        in: query
        required: false
        schema:
          type: integer
          maximum: 24
          minimum: 1
          default: 6
          title: Months
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageCountsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/organizations/{org_id}/billing/quota:
    get:
      tags:
      - Billing
      summary: Org-Billing-Quota
      operationId: org-billing-quota
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9]{3,400}$
          title: Organization ID
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api3__billing__models__QuotaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/projects/billing/usage-counts:
    get:
      tags:
      - Billing
      summary: Project-Billing-Usage-Counts
      operationId: project-billing-usage-counts
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: months
        in: query
        required: false
        schema:
          type: integer
          maximum: 24
          minimum: 1
          default: 6
          title: Months
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageCountsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/projects/billing/quota:
    get:
      tags:
      - Billing
      summary: Project-Billing-Quota
      operationId: project-billing-quota
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api3__billing__models__QuotaResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/browser/{monitor_id}/stats/performance:
    post:
      tags:
      - Browser Monitor Statistics
      summary: Aggregate performance metrics for a monitor over a window
      description: 'Aggregate performance metrics for a monitor over a window.


        Returns the requested measures (e.g. mean, p50, p90) per metric, optionally

        grouped by location and/or time bucket.'
      operationId: query-browser-monitor-performance
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: monitor_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Monitor ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api3__monitors__common__api_models__PerformanceRequest_Metric___2'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api3__monitors__common__api_models__PerformanceResponse_Metric___2'
        '400':
          description: Invalid request parameters (e.g. `to` before `from`)
        '403':
          description: Monitor not owned by this project
        '404':
          description: Monitor not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/browser/{monitor_id}/stats/resources:
    post:
      tags:
      - Browser Monitor Statistics
      summary: Aggregate resource-level data from `resource_requests` for a monitor
      description: "Aggregate resource-level data from `resource_requests` for a browser monitor.\n\n\
        Returns:\n- `by_type`: per-resource-type breakdown (count, size) suitable for a pie chart.\n-\
        \ `third_party_timeseries`: 1st-party vs 3rd-party load time per interval bucket\n  (empty when\
        \ no `interval` is supplied)."
      operationId: query-browser-monitor-resources
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: monitor_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Monitor ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcesRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcesResponse'
        '400':
          description: Invalid request parameters (e.g. `to` before `from`)
        '403':
          description: Monitor not owned by this project
        '404':
          description: Monitor not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/browser/{monitor_id}/stats/sessions:
    post:
      tags:
      - Browser Monitor Statistics
      summary: Query the top-N raw page_metrics rows sorted by the chosen metric
      description: 'Return the top-N raw page_metrics rows sorted by the chosen metric.


        Powers the "worst sessions" / "slowest sessions" list — each row carries

        the individual result''s CWV values, location, and result_id so the client

        can deep-link to the result detail view.'
      operationId: query-browser-monitor-sessions
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: monitor_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Monitor ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionsResponse'
        '400':
          description: Invalid request parameters (e.g. `to` before `from`)
        '403':
          description: Monitor not owned by this project
        '404':
          description: Monitor not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/browser/stats/performance:
    post:
      tags:
      - Browser Monitor Statistics
      summary: Aggregate performance metrics across all browser monitors in the project
      description: 'Aggregate performance metrics across all browser monitors in the project.


        Pair with `group_by=monitor` to get one PerformanceGroup per monitor; with

        `group_by=monitor,interval` for per-monitor time-series. Without a `monitor`

        grouping, results are a single project-wide aggregate.'
      operationId: query-browser-performance
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api3__monitors__common__api_models__PerformanceRequest_Metric___2'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api3__monitors__common__api_models__PerformanceResponse_Metric___2'
        '400':
          description: Invalid request parameters (e.g. `to` before `from`)
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/browser/stats/resources:
    post:
      tags:
      - Browser Monitor Statistics
      summary: Aggregate resource-level data across all browser monitors in the project
      description: "Aggregate resource-level data from `resource_requests` across all\nbrowser monitors\
        \ in the project.\n\nReturns:\n- `by_type`: per-resource-type breakdown (count, size) suitable\
        \ for a pie chart.\n- `third_party_timeseries`: 1st-party vs 3rd-party load time per interval\
        \ bucket\n  (empty when no `interval` is supplied)."
      operationId: query-browser-resources
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcesRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcesResponse'
        '400':
          description: Invalid request parameters (e.g. `to` before `from`)
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/browser/stats/sessions:
    post:
      tags:
      - Browser Monitor Statistics
      summary: Top-N raw page_metrics rows across all browser monitors in the project
      description: 'Return the top-N raw page_metrics rows across all browser monitors in

        the project, sorted by the chosen metric.


        Each row carries its originating `monitor_id` so callers can attribute

        sessions back to the monitor that produced them.'
      operationId: query-browser-sessions
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionsResponse'
        '400':
          description: Invalid request parameters (e.g. `to` before `from`)
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/browser/:
    get:
      tags:
      - Browser Monitors
      summary: List all Browser Monitors for a project
      operationId: list-browser-monitors
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserTestSetupListResults'
              examples:
                list:
                  summary: A project's Browser monitors
                  value:
                    results:
                    - id: ahJzfmFwaW1ldHJpY3MtcHJvZHIXCxILQnJvd3NlckNhbGwYgICA
                      meta:
                        monitor_type: www
                        name: Check homepage
                        tags: []
                        domain: example.com
                        created: '2025-01-15T10:00:00Z'
                        last_update: '2025-01-15T10:00:00Z'
                        owner: ahJzfmFwaW1ldHJpY3MtcHJvZHILCxIEVXNlchhiAgI
                        workspace: global
                      setup:
                        url: https://example.com/
                        browser_types:
                        - chromium
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Browser Monitors
      summary: Create a new Browser Monitor
      operationId: create-browser-monitor
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api3__monitors__browser__api_models__CreateRequest'
            examples:
              basic:
                summary: Monitor a page using the default browser
                value:
                  name: Check homepage
                  tags: []
                  workspace: global
                  url: https://example.com
              multi_browser:
                summary: Monitor across multiple browsers
                value:
                  name: Cross-browser checkout check
                  tags:
                  - checkout
                  - critical
                  workspace: global
                  url: https://shop.example.com/checkout
                  browser_types:
                  - chromium
                  - firefox
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserTestSetupRepr'
              examples:
                chromium:
                  summary: Browser monitor targeting Chromium
                  value:
                    id: ahJzfmFwaW1ldHJpY3MtcHJvZHIXCxILQnJvd3NlckNhbGwYgICA
                    meta:
                      monitor_type: www
                      name: Check homepage
                      tags: []
                      domain: example.com
                      created: '2025-01-15T10:00:00Z'
                      last_update: '2025-01-15T10:00:00Z'
                      owner: ahJzfmFwaW1ldHJpY3MtcHJvZHILCxIEVXNlchhiAgI
                      workspace: global
                    setup:
                      url: https://example.com/
                      browser_types:
                      - chromium
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/browser/{monitor_id}:
    get:
      tags:
      - Browser Monitors
      summary: Read a Browser Monitor by ID
      operationId: read-browser-monitor
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: monitor_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Browser Monitor ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserTestSetupRepr'
              examples:
                chromium:
                  summary: Browser monitor targeting Chromium
                  value:
                    id: ahJzfmFwaW1ldHJpY3MtcHJvZHIXCxILQnJvd3NlckNhbGwYgICA
                    meta:
                      monitor_type: www
                      name: Check homepage
                      tags: []
                      domain: example.com
                      created: '2025-01-15T10:00:00Z'
                      last_update: '2025-01-15T10:00:00Z'
                      owner: ahJzfmFwaW1ldHJpY3MtcHJvZHILCxIEVXNlchhiAgI
                      workspace: global
                    setup:
                      url: https://example.com/
                      browser_types:
                      - chromium
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Browser Monitors
      summary: Update an existing Browser Monitor
      operationId: update-browser-monitor
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: monitor_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Browser Monitor ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api3__monitors__browser__api_models__UpdateRequest'
            examples:
              rename:
                summary: Rename the monitor
                value:
                  meta:
                    name: Updated homepage monitor
              change_setup:
                summary: Update target URL and browsers
                value:
                  setup:
                    url: https://new.example.com
                    browser_types:
                    - chromium
                    - webkit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserTestSetupRepr'
              examples:
                chromium:
                  summary: Browser monitor targeting Chromium
                  value:
                    id: ahJzfmFwaW1ldHJpY3MtcHJvZHIXCxILQnJvd3NlckNhbGwYgICA
                    meta:
                      monitor_type: www
                      name: Check homepage
                      tags: []
                      domain: example.com
                      created: '2025-01-15T10:00:00Z'
                      last_update: '2025-01-15T10:00:00Z'
                      owner: ahJzfmFwaW1ldHJpY3MtcHJvZHILCxIEVXNlchhiAgI
                      workspace: global
                    setup:
                      url: https://example.com/
                      browser_types:
                      - chromium
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Browser Monitors
      summary: Delete an existing Browser Monitor
      operationId: delete-browser-monitor
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: monitor_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Browser Monitor ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/calls/{call_id}/update-kms-helper:
    post:
      tags:
      - Calls
      summary: Update-Kms-Helper
      description: Create a new KMS helper API call based on an existing old helper API call.
      operationId: update-kms-helper
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: call_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: API Monitor ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
                title: Response Update-Kms-Helper
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/organizations/{org_id}/certificates/:
    get:
      tags:
      - Certificates
      summary: List-Certificates
      description: List metadata for all of an org's Certificates.
      operationId: list-certificates
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9]{3,400}$
          title: Organization ID
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateListResults'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Certificates
      summary: Create-Certificate
      description: Create a new Certificate.
      operationId: create-certificate
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9]{3,400}$
          title: Organization ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api3__certificates__api_models__CreateRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateMetadata'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/organizations/{org_id}/certificates/{certificate_id}:
    get:
      tags:
      - Certificates
      summary: Read-Certificate
      description: Read an existing Certificate.
      operationId: read-certificate
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: certificate_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Resource ID
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9]{3,400}$
          title: Organization ID
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateMetadata'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Certificates
      summary: Update-Certificate
      description: Update an existing Certificate.
      operationId: update-certificate
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: certificate_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Resource ID
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9]{3,400}$
          title: Organization ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api3__certificates__api_models__UpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateMetadata'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Certificates
      summary: Delete-Certificate
      description: Delete an existing Certificate.
      operationId: delete-certificate
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: certificate_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Resource ID
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9]{3,400}$
          title: Organization ID
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/external/ingest/{source}:
    post:
      tags:
      - External Sources
      summary: Ingest-External-Source
      operationId: ingest-external-source
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: source
        in: path
        required: true
        schema:
          type: string
          title: Source
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Ingest-External-Source
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/files/oas:
    post:
      tags:
      - Files
      summary: Upload-New-Oas
      description: Upload a new OpenAPI spec.
      operationId: upload-new-oas
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload-new-oas'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadFileResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/files/oas_url:
    post:
      tags:
      - Files
      summary: Upload-New-Oas-From-Url
      description: Upload a new OpenAPI spec.
      operationId: upload-new-oas-from-url
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadUrl'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadFileResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/governance/changes:
    get:
      tags:
      - Governance
      summary: List-Changes
      description: Return a list of changes within the given time range.
      operationId: list-changes
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: from_timestamp
        in: query
        required: true
        schema:
          type: string
          format: date-time
          title: From Timestamp
      - name: to_timestamp
        in: query
        required: true
        schema:
          type: string
          format: date-time
          title: To Timestamp
      - name: cursor
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Cursor
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 25
          title: Limit
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/governance/conformance/{spec}/endpoints:
    post:
      tags:
      - Governance
      summary: Manage-Endpoint-Classification
      description: Manage the classification of endpoints for a given spec
      operationId: manage-endpoint-classification
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: spec
        in: path
        required: true
        schema:
          type: string
          title: Spec
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointClassificationRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Governance
      summary: Get-Endpoint-Classifications
      description: Manage the classification of endpoints for a given spec
      operationId: get-endpoint-classifications
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: spec
        in: path
        required: true
        schema:
          type: string
          title: Spec
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/governance/conformance/results:
    get:
      tags:
      - Governance
      summary: Conformance-Results
      description: Query the conformance results
      operationId: conformance-results
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: resolved
        in: query
        required: false
        schema:
          type: boolean
          title: Include resolved results
          default: false
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Cursor
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          title: Limit
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/governance/conformance/data-checks:
    get:
      tags:
      - Governance
      summary: List-Data-Checks
      description: List data checks for the given project
      operationId: list-data-checks
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/governance/conformance/data-checks/{check_name}:
    put:
      tags:
      - Governance
      summary: Put-Data-Check
      description: Create or update data check with the given name
      operationId: put-data-check
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: check_name
        in: path
        required: true
        schema:
          type: string
          title: Check Name
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataCheckPutRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Governance
      summary: Delete-Data-Check
      description: Delete data check with the given name
      operationId: delete-data-check
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: check_name
        in: path
        required: true
        schema:
          type: string
          title: Check Name
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/governance/conformance/results/summary:
    get:
      tags:
      - Governance
      summary: Conformance-Results-Summary
      description: Query the latest conformance result summary for a project
      operationId: conformance-results-summary
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/governance/conformance/resolution:
    post:
      tags:
      - Governance
      summary: Update-Resolution
      description: Update the resolution status for a conformance result
      operationId: update-resolution
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConformanceResolutionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/governance/conformance/results/evaluate:
    post:
      tags:
      - Governance
      summary: Evaluate-Most-Recent
      description: Run conformance checks and summary calculation on the most recent calls
      operationId: evaluate-most-recent
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/governance/conformance/settings:
    get:
      tags:
      - Governance
      summary: List-Settings
      description: Retrieve the conformance settings for a project
      operationId: list-settings
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Governance
      summary: Put-Settings
      description: Insert or update conformance settings for a project
      operationId: put-settings
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConformanceSettingsRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/organizations/{org_id}/integrations/:
    get:
      tags:
      - Integrations
      summary: List-Integrations-For-Org
      operationId: list-integrations-for-org
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9]{3,400}$
          title: Organization ID
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReadIntegration'
                title: Response List-Integrations-For-Org
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Integrations
      summary: Create-Integration
      operationId: create-integration
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9]{3,400}$
          title: Organization ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegration'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadIntegration'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/organizations/{org_id}/integrations/{id}:
    get:
      tags:
      - Integrations
      summary: Get-Integration-By-Id
      operationId: get-integration-by-id
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          title: Id
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9]{3,400}$
          title: Organization ID
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadIntegration'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Integrations
      summary: Update-Integration
      operationId: update-integration
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          title: Id
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9]{3,400}$
          title: Organization ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIntegration'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadIntegration'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Integrations
      summary: Delete-Integration
      operationId: delete-integration
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          title: Id
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9]{3,400}$
          title: Organization ID
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/integrations/datadog/authenticate:
    post:
      tags:
      - Integrations
      summary: Authenticate-Datadog-Integration
      operationId: authenticate-datadog-integration
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: code
        in: query
        required: true
        schema:
          type: string
          title: Code
      - name: code_verifier
        in: query
        required: true
        schema:
          type: string
          title: Code Verifier
      - name: domain
        in: query
        required: true
        schema:
          type: string
          title: Domain
      - name: redirect_uri
        in: query
        required: true
        schema:
          type: string
          title: Redirect Uri
      - name: state
        in: query
        required: true
        schema:
          type: string
          title: State
      responses:
        '200':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/inventory:
    get:
      tags:
      - Inventory
      summary: List-Inventory
      description: Return a list of discovered endpoints.
      operationId: list-inventory
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: from_timestamp
        in: query
        required: true
        schema:
          type: string
          format: date-time
          title: From Timestamp
      - name: to_timestamp
        in: query
        required: true
        schema:
          type: string
          format: date-time
          title: To Timestamp
      - name: cursor
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Cursor
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 25
          title: Limit
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response List-Inventory
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/inventory/coverage:
    get:
      tags:
      - Inventory
      summary: Oas-Coverage
      description: Return API call coverage data for OpenAPI endpoints.
      operationId: oas-coverage
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: from_timestamp
        in: query
        required: true
        schema:
          type: string
          format: date-time
          title: From Timestamp
      - name: to_timestamp
        in: query
        required: true
        schema:
          type: string
          format: date-time
          title: To Timestamp
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Oas-Coverage
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/inventory/endpoints/{file_id}:
    get:
      tags:
      - Inventory
      summary: Oas-Endpoints
      description: Return a list of endpoints for the requested OpenAPI spec.
      operationId: oas-endpoints
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: file_id
        in: path
        required: true
        schema:
          type: string
          title: File Id
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Oas-Endpoints
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/mcp/{monitor_id}/stats/performance:
    post:
      tags:
      - MCP Monitor Statistics
      summary: Aggregate performance metrics for an MCP monitor over a window
      description: 'Aggregate performance metrics for an MCP monitor over a window.


        Returns the requested measures (e.g. mean, p50, p90) per metric, optionally

        grouped by location and/or time bucket.'
      operationId: query-mcp-monitor-performance
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: monitor_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: MCP Monitor ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api3__monitors__common__api_models__PerformanceRequest_Metric___3'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api3__monitors__common__api_models__PerformanceResponse_Metric___3'
        '400':
          description: Invalid request parameters (e.g. `to` before `from`)
        '403':
          description: Monitor not owned by this project
        '404':
          description: Monitor not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/mcp/stats/performance:
    post:
      tags:
      - MCP Monitor Statistics
      summary: Aggregate performance metrics across all MCP monitors in the project
      description: 'Aggregate performance metrics across all MCP monitors in the project.


        Pair with `group_by=monitor` to get one PerformanceGroup per monitor; with

        `group_by=monitor,interval` for per-monitor time-series. Without a `monitor`

        grouping, results are a single project-wide aggregate.'
      operationId: query-mcp-performance
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api3__monitors__common__api_models__PerformanceRequest_Metric___3'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api3__monitors__common__api_models__PerformanceResponse_Metric___3'
        '400':
          description: Invalid request parameters (e.g. `to` before `from`)
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/mcp/:
    get:
      tags:
      - MCP Monitors
      summary: List all MCP Monitors for a project
      operationId: list-mcp-monitors
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpTestSetupListResults'
              examples:
                list:
                  summary: A project's MCP monitors
                  value:
                    results:
                    - id: ahJzfmFwaW1ldHJpY3MtcHJvZHIWCxILTWNwVGVzdFNldHVwGICAgICA
                      meta:
                        monitor_type: mcp
                        name: Check tools endpoint
                        tags: []
                        domain: mcp.example.com
                        created: '2025-01-15T10:00:00Z'
                        last_update: '2025-01-15T10:00:00Z'
                        owner: ahJzfmFwaW1ldHJpY3MtcHJvZHILCxIEVXNlchhiAgI
                        workspace: global
                      setup:
                        url: https://mcp.example.com/sse
                        overall_timeout_ms: 30000
                        steps:
                        - timeout_ms: 10000
                          wait_ms: 0
                          step_type: list_tools
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - MCP Monitors
      summary: Create a new MCP Monitor
      operationId: create-mcp-monitor
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api3__monitors__mcp__api_models__CreateRequest'
            examples:
              list_tools:
                summary: Monitor that lists available tools
                value:
                  name: Check tools endpoint
                  tags: []
                  workspace: global
                  url: https://mcp.example.com/sse
                  overall_timeout_ms: 30000
                  steps:
                  - timeout_ms: 10000
                    wait_ms: 0
                    step_type: list_tools
              call_tool:
                summary: Monitor that calls a specific tool
                value:
                  name: Echo health check
                  tags: []
                  workspace: global
                  url: https://mcp.example.com/sse
                  overall_timeout_ms: 60000
                  steps:
                  - timeout_ms: 10000
                    wait_ms: 0
                    step_type: list_tools
                  - timeout_ms: 15000
                    wait_ms: 0
                    step_type: call_tool
                    tool_name: echo
                    parameters:
                      message: ping
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpTestSetupRepr'
              examples:
                list_tools:
                  summary: Monitor that lists available MCP tools
                  value:
                    id: ahJzfmFwaW1ldHJpY3MtcHJvZHIWCxILTWNwVGVzdFNldHVwGICAgICA
                    meta:
                      monitor_type: mcp
                      name: Check tools endpoint
                      tags: []
                      domain: mcp.example.com
                      created: '2025-01-15T10:00:00Z'
                      last_update: '2025-01-15T10:00:00Z'
                      owner: ahJzfmFwaW1ldHJpY3MtcHJvZHILCxIEVXNlchhiAgI
                      workspace: global
                    setup:
                      url: https://mcp.example.com/sse
                      overall_timeout_ms: 30000
                      steps:
                      - timeout_ms: 10000
                        wait_ms: 0
                        step_type: list_tools
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/mcp/{monitor_id}:
    get:
      tags:
      - MCP Monitors
      summary: Read an MCP Monitor by ID
      operationId: read-mcp-monitor
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: monitor_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: MCP Monitor ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpTestSetupRepr'
              examples:
                list_tools:
                  summary: Monitor that lists available MCP tools
                  value:
                    id: ahJzfmFwaW1ldHJpY3MtcHJvZHIWCxILTWNwVGVzdFNldHVwGICAgICA
                    meta:
                      monitor_type: mcp
                      name: Check tools endpoint
                      tags: []
                      domain: mcp.example.com
                      created: '2025-01-15T10:00:00Z'
                      last_update: '2025-01-15T10:00:00Z'
                      owner: ahJzfmFwaW1ldHJpY3MtcHJvZHILCxIEVXNlchhiAgI
                      workspace: global
                    setup:
                      url: https://mcp.example.com/sse
                      overall_timeout_ms: 30000
                      steps:
                      - timeout_ms: 10000
                        wait_ms: 0
                        step_type: list_tools
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - MCP Monitors
      summary: Update an existing MCP Monitor
      operationId: update-mcp-monitor
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: monitor_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: MCP Monitor ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api3__monitors__mcp__api_models__CreateRequest'
            examples:
              list_tools:
                summary: Monitor that lists available tools
                value:
                  name: Check tools endpoint
                  tags: []
                  workspace: global
                  url: https://mcp.example.com/sse
                  overall_timeout_ms: 30000
                  steps:
                  - timeout_ms: 10000
                    wait_ms: 0
                    step_type: list_tools
              call_tool:
                summary: Monitor that calls a specific tool
                value:
                  name: Echo health check
                  tags: []
                  workspace: global
                  url: https://mcp.example.com/sse
                  overall_timeout_ms: 60000
                  steps:
                  - timeout_ms: 10000
                    wait_ms: 0
                    step_type: list_tools
                  - timeout_ms: 15000
                    wait_ms: 0
                    step_type: call_tool
                    tool_name: echo
                    parameters:
                      message: ping
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpTestSetupRepr'
              examples:
                list_tools:
                  summary: Monitor that lists available MCP tools
                  value:
                    id: ahJzfmFwaW1ldHJpY3MtcHJvZHIWCxILTWNwVGVzdFNldHVwGICAgICA
                    meta:
                      monitor_type: mcp
                      name: Check tools endpoint
                      tags: []
                      domain: mcp.example.com
                      created: '2025-01-15T10:00:00Z'
                      last_update: '2025-01-15T10:00:00Z'
                      owner: ahJzfmFwaW1ldHJpY3MtcHJvZHILCxIEVXNlchhiAgI
                      workspace: global
                    setup:
                      url: https://mcp.example.com/sse
                      overall_timeout_ms: 30000
                      steps:
                      - timeout_ms: 10000
                        wait_ms: 0
                        step_type: list_tools
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - MCP Monitors
      summary: Patch an existing MCP Monitor
      operationId: patch-mcp-monitor
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: monitor_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: MCP Monitor ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api3__monitors__mcp__api_models__UpdateRequest'
            examples:
              rename:
                summary: Rename the monitor
                value:
                  name: Updated monitor name
              replace_steps:
                summary: Replace steps with a tool call sequence
                value:
                  steps:
                  - timeout_ms: 10000
                    wait_ms: 0
                  - timeout_ms: 15000
                    wait_ms: 0
                    tool_name: echo
                    parameters:
                      message: ping
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpTestSetupRepr'
              examples:
                list_tools:
                  summary: Monitor that lists available MCP tools
                  value:
                    id: ahJzfmFwaW1ldHJpY3MtcHJvZHIWCxILTWNwVGVzdFNldHVwGICAgICA
                    meta:
                      monitor_type: mcp
                      name: Check tools endpoint
                      tags: []
                      domain: mcp.example.com
                      created: '2025-01-15T10:00:00Z'
                      last_update: '2025-01-15T10:00:00Z'
                      owner: ahJzfmFwaW1ldHJpY3MtcHJvZHILCxIEVXNlchhiAgI
                      workspace: global
                    setup:
                      url: https://mcp.example.com/sse
                      overall_timeout_ms: 30000
                      steps:
                      - timeout_ms: 10000
                        wait_ms: 0
                        step_type: list_tools
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - MCP Monitors
      summary: Delete an existing MCP Monitor
      operationId: delete-mcp-monitor
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: monitor_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: MCP Monitor ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/:
    get:
      tags:
      - Monitors
      summary: List all Monitors for a project
      operationId: list-monitors
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Cursor
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 25
          title: Limit
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api3__monitors__router___ListResponse'
              examples:
                api_monitor:
                  summary: Project monitor list
                  value:
                    meta:
                      project_id: ahJzfmFwaW1ldHJpY3MtcHJvZHIKCxIEVXNlchhiAgI
                      more: false
                    data:
                    - meta:
                        monitor_type: api
                        name: Check payments API
                        tags:
                        - payments
                        domain: api.example.com
                        content_type: application/json
                        accept: application/json
                        created: '2025-01-15T10:00:00Z'
                        last_update: '2025-01-15T10:00:00Z'
                        owner: ahJzfmFwaW1ldHJpY3MtcHJvZHILCxIEVXNlchhiAgI
                        workspace: global
                      request:
                        method: GET
                        url: https://api.example.com/v1/health
                        parameters: []
                        headers:
                        - key: Accept
                          value: application/json
                      id: ahJzfmFwaW1ldHJpY3MtcHJvZHIUCxIKVGVzdFNldHVwMhiAgICA
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/{monitor_id}:
    get:
      tags:
      - Monitors
      summary: Read a Monitor by ID
      operationId: get-monitor
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: monitor_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Monitor ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/TestSetup2Repr'
                - $ref: '#/components/schemas/BrowserTestSetupRepr'
                - $ref: '#/components/schemas/McpTestSetupRepr'
                title: Response Get-Monitor
              examples:
                api:
                  summary: API monitor
                  value:
                    meta:
                      monitor_type: api
                      name: Check payments API
                      tags:
                      - payments
                      domain: api.example.com
                      content_type: application/json
                      accept: application/json
                      created: '2025-01-15T10:00:00Z'
                      last_update: '2025-01-15T10:00:00Z'
                      owner: ahJzfmFwaW1ldHJpY3MtcHJvZHILCxIEVXNlchhiAgI
                      workspace: global
                    request:
                      method: GET
                      url: https://api.example.com/v1/health
                      parameters: []
                      headers:
                      - key: Accept
                        value: application/json
                    id: ahJzfmFwaW1ldHJpY3MtcHJvZHIUCxIKVGVzdFNldHVwMhiAgICA
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/monitors/{monitor_id}/run:
    post:
      tags:
      - Monitors
      summary: Trigger a Monitor to run now
      operationId: run-monitor
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: monitor_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Monitor ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunMonitorRequest'
            examples:
              immediate:
                summary: Run the monitor immediately
                value:
                  context: {}
                  location_id: ''
                  run_delay: 0
              with_context:
                summary: Run with variable substitution context
                value:
                  context:
                    env: staging
                  location_id: ''
                  run_delay: 0
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRunPayload'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/organizations/{org_id}/downtimes:
    get:
      tags:
      - Downtimes
      summary: List-Org-Downtimes
      description: List downtimes defined on the given org.
      operationId: list-org-downtimes
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9]{3,400}$
          title: Organization ID
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Cursor
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 25
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response List-Org-Downtimes
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Downtimes
      summary: Create-Org-Downtime
      description: Create a new downtime for this org.
      operationId: create-org-downtime
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9]{3,400}$
          title: Organization ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditableDowntimeBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Create-Org-Downtime
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/organizations/{org_id}/downtimes/{downtime_id}:
    put:
      tags:
      - Downtimes
      summary: Update-Org-Downtime
      description: Update an existing downtime for this org.
      operationId: update-org-downtime
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: downtime_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Resource ID
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9]{3,400}$
          title: Organization ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditableDowntimeBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Update-Org-Downtime
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Downtimes
      summary: Delete-Org-Downtime
      description: Delete an existing downtime for this org.
      operationId: delete-org-downtime
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: downtime_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Resource ID
      - name: org_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9]{3,400}$
          title: Organization ID
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/3/project/security-profiles:
    get:
      tags:
      - Projects
      summary: List-Security-Profiles-For-Project
      operationId: list-security-profiles-for-project
[...]
