openapi: 3.1.0
info:
  title: APIContext Notifications (Alerts) API
  description: API for the APImetrics platform This document is the 'Notifications' slice of the APIContext
    (APImetrics) platform OpenAPI published at https://client.apimetrics.io/openapi.json.
  version: v2026-09-02
  contact:
    name: APIContext Support
    url: https://apicontext.io/
    email: support@apicontext.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://apimetrics.io/tos/
servers:
- url: https://client.apimetrics.io
  description: APIContext (APImetrics) platform API
tags:
- name: Notifications
  description: Issue notifications raised about monitors, results, and workflows.
paths:
  /api/2/notifications/:
    get:
      tags:
      - Notifications
      summary: List-Notifications
      description: List notifications owned by the project, newest first.
      operationId: list-notifications
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Cursor
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 100
          title: Limit
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/2/notifications/call/{test_key_str}/:
    get:
      tags:
      - Notifications
      summary: List-Notifications-By-Call
      description: List notifications referencing a specific call, newest first.
      operationId: list-notifications-by-call
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: test_key_str
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Monitor ID
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Cursor
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 100
          title: Limit
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/2/notifications/{key_str}/:
    get:
      tags:
      - Notifications
      summary: Get-Notification
      description: Return the representation of a single notification.
      operationId: get-notification
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: key_str
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Resource ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Notifications
      summary: Update-Notification
      description: Update the ``viewed`` flag for the requesting project. No other field is writable.
      operationId: update-notification
      security:
      - OAuth2: []
      - ApiKey: []
      parameters:
      - name: key_str
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9_-]+$
          title: Resource ID
      - name: apimetrics-project-id
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apimetrics-Project-Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNotificationBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            openid: OpenID Connect identity
            profile: User profile
            email: User email address
          authorizationUrl: https://auth.apimetrics.io/authorize?audience=https://client.apimetrics.io
          tokenUrl: https://auth.apimetrics.io/oauth/token
    ApiKey:
      type: apiKey
      in: header
      name: X-Api-Key
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    NotificationListMeta:
      properties:
        next_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor
        more:
          type: boolean
          title: More
        project_id:
          type: string
          title: Project Id
      type: object
      required:
      - more
      - project_id
      title: NotificationListMeta
    NotificationListResponse:
      properties:
        meta:
          $ref: '#/components/schemas/NotificationListMeta'
        results:
          items:
            $ref: '#/components/schemas/NotificationResponse'
          type: array
          title: Results
      type: object
      required:
      - meta
      - results
      title: NotificationListResponse
    NotificationResponse:
      properties:
        id:
          type: string
          title: Id
        created:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Created
        last_update:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Last Update
        category:
          anyOf:
          - type: string
          - type: 'null'
          title: Category
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        description_text:
          anyOf:
          - type: string
          - type: 'null'
          title: Description Text
        call_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Call Id
        result_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Result Id
        worfklow_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Worfklow Id
        worfklow_result_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Worfklow Result Id
        viewed:
          type: boolean
          title: Viewed
      type: object
      required:
      - id
      - viewed
      title: NotificationResponse
    UpdateNotificationBody:
      properties:
        viewed:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Viewed
          description: Mark the notification read (true) or unread (false).
      type: object
      title: UpdateNotificationBody
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
